{% extends "head.html" %}
{% load staticfiles %}
{% load git %}

{% block content %}
    <div class="container" style="margin-top: 15px">
        <div class="raw">
            <h4>Hello <b style="color: deepskyblue">{{ git|username }}</b></h4>
        </div>
        <hr />
        <div class="raw">
            <div class="col-lg-9"></div>
            <a href="{% url "update_all_submodules" %}" class="load btn btn-success col-lg-2" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Updating">Update</a>
            <a href="#" class="btn btn-info col-lg-1" onclick="run_process('program_output', 'build')">Build</a>
        </div>

        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th style="width: 20px">build</th>
                <th>init name</th>
                <th>branches</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <!-- SHOW MAIN REPOSITORY -->
            <tr class="info">
                <td style="text-align: center"><input type="checkbox" id="" value="1"></td>
                <td>{{ main_repository }}</td>
                <td>
                    <select class="selectpicker" data-live-search="true">
                        {% with git|current_branch:main_repository as current_branch %}
                            {% for branch in git|branches:main_repository %}
                                {% if branch == current_branch %}
                                    <option style="background-color: green" selected>{{ branch }}</option>
                                {% else %}
                                    <option path_to_repository="{{ submodule.path }}">{{ branch }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}
                    </select>
                </td>
                <td width="50px">
                    <a href="{% url "reset_main_project" %}" class="load btn btn-danger" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> resetting">reset all</a>
                </td>
            </tr>


            <!-- SHOW SUBMODULES -->
            {% for submodule_name, submodule in submodules.items %}
                {% if git|in_list:submodule.path %}
                    <tr class="success">
                        <td style="text-align: center"><input type="checkbox" id="" value="1"></td>
                        <td>{{ submodule.name }}</td>
                        <td>
                            <!-- example from https://silviomoreto.github.io/bootstrap-select/examples-->
                            <select class="selectpicker" data-live-search="true">
                                {% with git|current_branch:submodule.path as current_branch %}
                                    {% for branch in git|branches:submodule.path %}
                                        {% if branch == current_branch %}
                                            <option style="background-color: green" selected>{{ branch }}</option>
                                        {% else %}
                                            <option path_to_repository="{{ submodule.path }}">{{ branch }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            </select>
                        </td>
                        <td>
                            <a href="#" class="btn btn-danger" onclick="make_clean('{{ submodule.path }}')">make clean</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>


    <script>
        function getCookie(c_name) {
            if (document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
        }


        $(".load").click(function() {
            $(this).button('loading');
        });

        $("select").change(function() {
            var el = $(this);

            var branch = el.val();
            var path_to_repository = $('option:selected', this).attr('path_to_repository');

            $.ajaxSetup({
                headers: { "X-CSRFToken": getCookie("csrftoken") }
            });

            $.ajax({
                url: "{% url "checkout_branch" %}",
                type: "POST",
                data: JSON.stringify({
                    branch: branch,
                    path_to_repository: path_to_repository
                }),
                contentType: "application/json; charset=UTF-8",
                complete: function() {
                    window.location.replace('{% url "list_of_submodules" %}');
                }
            });
        });


        function make_clean(path_to_repository) {
            $.ajaxSetup({
                headers: { "X-CSRFToken": getCookie("csrftoken") }
            });

            $.ajax({
                url: "{% url "make_clean" %}",
                type: "POST",
                data: JSON.stringify({
                    path_to_repository: path_to_repository
                }),
                contentType: "application/json; charset=UTF-8",
                complete: function() {
                    window.location.replace('{% url "list_of_submodules" %}');
                }
            });
        }
    </script>


{% endblock %}
