{% extends "head.html" %}

{% block content %}

    {% load dictionary %}
    {% load staticfiles %}

    {% include "artifacts/page_style.html" %}
    {% include "artifacts/page_script.html" %}

    <style>
        .tree {
            background-color: #ecba52;
        }
    </style>


    <div class="tree">
        <div class="col-xs-1" id="back" path="">
            <img style="width: 100%" src="{% static "img/back.png" %}" />
        </div>
        <div class="col-xs-6" id="folders-div">
            <h3>Choose any day in calendar to see artifacts</h3>
            <div id="folders"></div>
        </div>
        <div style="display: block" class="col-xs-4" id="calendar-div">
            {% include 'artifacts/calendar.html' %}
        </div>
        <div onclick="close_calendar_button()" class="col-xs-1" id="close-open-calendar" path="">
            <img id="close-open-calendar-arrow" style="width: 100%" src="{% static "img/forward.png" %}" />
        </div>
    </div>


{% endblock %}
