{% load dictionary %}

<div class="content">
    <span style="font-size: 30px">
        <button onclick="fly_to('minus_year')"><</button>
        <span class="year">{{ month_now.year }}</span>
        <button onclick="fly_to('plus_year')">></button>
    </span>
    <span style="font-size: 30px">
        <button onclick="fly_to('minus_month')"><</button>
        <span class="month" style="width: 200px">{{ month_now.count_of_month|month }}</span>
        <button onclick="fly_to('plus_month')">></button>
    </span>


    <div class="calendar">
        {% for day in month_before.last_week.days %}
            <div class="day day_out_of_month"  month="{{ day.month }}" year="{{ month_before.year }}">
                <span><b class="month_number_in_day">{{ day.number }}</b>, <i class="manth_name_in_day">{{ day.month|month }}</i></span>
            </div>
        {% endfor %}

        {% for week in month_now.weeks %}
            {% for day in week.days %}
                {# Если день в коллендаре соответствует настоящему дню #}
                {% if day.number == date_now.number %}
                    <div class="day highlight" month="{{ day.month }}" year="{{ month_now.year }}">
                        <span><b class="month_number_in_day">{{ day.number }}</b>, <i class="manth_name_in_day">{{ day.month|month }}</i></span>
                    </div>
                    {# Если день субботта или воскресенье, то он должен быть специально обозначен #}
                {% elif day.number|sum:month_before.last_week.days|ostatok:7 == 0 %}
                    <div class="day weekend sunday" month="{{ day.month }}" year="{{ month_now.year }}">
                        <span><b class="month_number_in_day">{{ day.number }}</b>, <i class="manth_name_in_day">{{ day.month|month }}</i></span>
                    </div>
                {% elif day.number|sum:month_before.last_week.days|ostatok:7 == 6 %}
                    <div class="day weekend saturday" month="{{ day.month }}" year="{{ month_now.year }}">
                        <span><b class="month_number_in_day">{{ day.number }}</b>, <i class="manth_name_in_day">{{ day.month|month }}</i></span>
                    </div>
                    {# Иначе просто вывести день на экран #}
                {% else %}
                    <div class="day" month="{{ day.month }}" year="{{ month_now.year }}">
                        <span><b class="month_number_in_day">{{ day.number }}</b>, <i class="manth_name_in_day">{{ day.month|month }}</i></span>
                    </div>
                {% endif %}

                {% if forloop.last %}

                {% endif %}
            {% endfor %}
        {% endfor %}

        {% for day in month_after.first_week.days %}
            <div class="day day_out_of_month" month="{{ day.month }}" year="{{ month_after.year }}">
                <span><b class="month_number_in_day">{{ day.number }}</b>, <i class="manth_name_in_day">{{ day.month|month }}</i></span>
            </div>
        {% endfor %}

        {% if month_now.weeks|length == 5 %}
            {% for day in month_after.second_week.days %}
                <div class="day day_out_of_month" month="{{ day.month }}" year="{{ month_after.year }}">
                    <span><b class="month_number_in_day">{{ day.number }}</b>, <i class="manth_name_in_day">{{ day.month|month }}</i></span>
                </div>
            {% endfor %}
        {% endif %}

    </div>
</div>
