{% load staticfiles %}

<script>
    var day = {{ date_now.number }};
    var month = {{ month_now.count_of_month }};
    var year = {{ month_now.year }};
    var up_folder_path = '';
    var last_json_answer = {};
    var cols = 6;
    var last_action = '';

    function update_folders() {
        console.log(' -- function update_folders');

        var folder = $('.folder');
        folder.unbind();
        folder.dblclick(function () {
            var path = $(this).attr('path');
            fly_to('get_folder_by_name', path);
        });
    }
    function update_files() {
        console.log(' -- function update_files');

        var folder = $('.file');
        folder.unbind();
        folder.dblclick(function () {
            var path = $(this).attr('path');
            fly_to('get_content_of_file', path);
        });
    }
    function update_back_button() {
        console.log(' -- function update_back_button');

        var back = $('#back');
        back.unbind();
        back.on('click', function () {
            var path = $(this).attr('path');
            fly_to('get_folder_by_name', path);
        });
    }

    function close_calendar_button() {
        console.log(' -- function close_calendar_button');

        var calendar_div = $('#calendar-div');
        var button_img = $('#close-open-calendar-arrow');
        var folders_div = $('#folders-div');
        var folders = $('#folders');

        console.log('var last_action: ', last_action);

        if(calendar_div.css('display') != 'none') {
            calendar_div.css('display', 'none');
            folders_div.removeClass('col-xs-6');
            folders_div.addClass('col-xs-10');
            button_img.attr('src', '{% static "img/back.png" %}');
            if(last_action != 'get_content_of_file') {
                folders.empty();
                fill_files_and_folders(last_json_answer, folders, 8);
            }
        } else {
            folders_div.removeClass('col-xs-10');
            folders_div.addClass('col-xs-6');
            calendar_div.css('display', 'block');
            button_img.attr('src', '{% static "img/forward.png" %}');
            if(last_action != 'get_content_of_file') {
                folders.empty();
                fill_files_and_folders(last_json_answer, folders, 6);
            }
        }
    }

    function update_days() {
        console.log(' -- function update_days');

        var days = $('.day');
        days.unbind();
        days.on('click', function(){
            up_folder_path = '';
            var all_days = $('.day').removeClass('highlighted');

            el = $(this);
            day = parseInt(el.text());
            month = el.attr('month');
            year = el.attr('year');

            el.addClass('highlighted');

            fly_to('get_folders_and_files_by_date');
        });
    }



    function get_table(list, img_path, aclass, elements_in_row) {
        console.log('get_table');

        var length = list.length;

        if(length == 0) {
            console.log('   length == 0!');
            return '';
        }


        var text = ('<table><tr>');
        for (var i = 0; i < length; i++) {
            if(i%elements_in_row == 0 && i != 0 && i != length){
                text += ('</tr><tr>');
            }

            text += (
                '<td path="' + list[i]['path'] + '" class="' + aclass + '" style="padding-left:10px">' +
                '<img style="width:80px" src=' + img_path + ' />' +
                '<div class="name">' + list[i]['name'] + '</div>' +
                '</td>'
            );
        }
        console.log('   if(' + length + ' < ' + elements_in_row + ')');

        if(length < elements_in_row && length != 0) {
            console.log('      true');
            var dif = elements_in_row - length;

            for(var j = 0; j < dif; j++) {
                text += ('<td></td>');
            }
        } else {
            console.log('      false');
            dif = elements_in_row - (length % elements_in_row);
            console.log('       ', elements_in_row, '- (', length, ' % ', elements_in_row, ')');
            console.log('        dif = ', dif);

            for(var j = 0; j < dif; j++) {
                text += ('<td></td>');
            }
        }

        text += ('</tr></table>');

        return text;
    }

    function fill_files_and_folders(dictioanary, to_html_element, elements_in_row) {
        console.log(' -- function fill_files_and_folders');
        console.log('   cols(' + cols + ') = ' + 'elements_in_row(' + elements_in_row + ')');

        cols = elements_in_row;
        to_html_element.empty();

        console.log(dictioanary);
        up_folder_path = dictioanary['up_folder'];
        $('#back').attr('path', dictioanary['up_folder']);
        to_html_element.append('<h4><i style="color:gray">Folders in <span style="color:black">' + up_folder_path + '</span>: ' + dictioanary['folders'].length + '</i></h4>');
        to_html_element.append(get_table(dictioanary['folders'], '{% static "img/folder.png" %}', 'folder', elements_in_row));
        to_html_element.append('<h4><i style="color:gray">Files in <span style="color:black">' + up_folder_path + '</span>: ' + dictioanary['files'].length + '</i></h4>');
        to_html_element.append(get_table(dictioanary['files'], '{% static "img/file.png" %}', 'file', elements_in_row));

        var td = $('td');
        td.css('width', String(100/elements_in_row) + '%');
        td.css('max-width', String(100/elements_in_row) + '%');

        update_files();
        update_folders();
        update_back_button();
    }

    function fly_to(action, folder_name){
        console.log(' -- function fly_to');

        var XHR = new XMLHttpRequest();

        var data = new FormData();
        data.append('month', month);
        data.append('year', year);
        data.append('day', day);
        data.append('todo', action);
        data.append('path', folder_name);

        XHR.addEventListener('load', function (event) {
            console.log('addEventListener load');
            if(action == 'minus_month') {
                if(month == 1) { month = 12; year--;}
                month--;
                $('.content').html(event.currentTarget.responseText);
                update_days();
            } else if(action == 'plus_month') {
                if(month == 12) { month = 0; year++;}
                month++;
                $('.content').html(event.currentTarget.responseText);
                update_days();
            } else if(action == 'minus_year') {
                if(year == 0){ year = 1 }
                year--;
                $('.content').html(event.currentTarget.responseText);
                update_days();
            } else if(action == 'plus_year') {
                year++;
                $('.content').html(event.currentTarget.responseText);
                update_days();
            } else if(action == 'get_folders_and_files_by_date' || action == 'get_folder_by_name') {
                last_json_answer = jQuery.parseJSON(event.currentTarget.responseText);
                var folders = $('#folders');
                fill_files_and_folders(last_json_answer, folders, cols);
            } else if(action == 'get_content_of_file') {
                var folders = $('#folders');
                folders.empty();
                var responce = jQuery.parseJSON(event.currentTarget.responseText);

                up_folder_path = responce['up_folder'];
                $('#back').attr('path', responce['up_folder']);
                var output = '<div class="file_text">';
                var content = responce['content'];
                for(var line in content){
                    output += content[line] + '<br>';
                }
                output += '</div>';
                folders.append(output)
            }
            last_action = action;
        });
        XHR.addEventListener('error', function (event) {
            console.log('addEventListener error');
        });
        XHR.onreadystatechange = function () {
            console.log('onreadystatechange');
        };
        XHR.open('POST', './artifacts');
        XHR.send(data);
    }

    window.onload = function () {
        fly_to('get_folders_and_files_by_date');
        update_back_button();
        update_days();
        update_files();
        update_folders();
    }
</script>
