<div class="header hidden credits">
    <div class="head-wrap shift-text">
        <div class="text-editor-wrap">
            <div class="title-bar">
                <span class="title" id="output_topic">Console, please run script to see output</span>
            </div>
            <div class="text-body" id="working_space">
                <span id="program_output"></span>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.toggle').click(function (event) {
            event.preventDefault();
            var target = $(this).attr('href');
            $(target).toggleClass('hidden show');
        });
    });
</script>
