{% extends "head.html" %}
{% load staticfiles %}

{% block content %}

<div class="start">
<link rel="stylesheet" title="Default" href="{% static 'css/highlight/default.css' %}">

<h1>{{ name_of_script }}</h1>
<pre><code class="python hljs">{% for line in python_file %}{{ line }}{% endfor %}</code></pre>
</div>

<script src="{% static 'js/highlight.pack.js' %}"></script>
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>

<script type="text/javascript">
    hljs.initHighlightingOnLoad();
</script>

{% endblock %}