<script>
    function logout(){
        document.cookie = 'key=None; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'request_from_url=' + document.URL.slice(0);
        window.location.replace(document.URL);
    }

    var selected_workspace = $('#SELECTED-WORKSPACE');
    var available_workspace = $('.AVAILABLE-WORKSPACE');

    function set_workspace(ws_name){
        selected_workspace.html(ws_name + '<b class="caret"></b>');
        document.cookie = 'workspace=' + ws_name + ';';
    }

    available_workspace.on('click', function() {
        set_workspace($(this).text());
        window.location.replace(document.URL);
    });

    if (selected_workspace.text() == ''){
        set_workspace('DEFAULT')
    }
</script>
