{% load dictionary %}
{% load staticfiles %}

<style>
    .flexcroll {
        scrollbar-face-color: rgb(255, 196, 74);
        scrollbar-shadow-color: rgb(255, 196, 74);
        scrollbar-highlight-color: rgb(255, 196, 74);
        scrollbar-3dlight-color: rgb(255, 196, 74);
        scrollbar-darkshadow-color: rgb(255, 196, 74);
        scrollbar-track-color: rgb(255, 196, 74);
        scrollbar-arrow-color: rgb(255, 196, 74);

        overflow:scroll;
    }

    /* Let's get this party started */
    .flexcroll::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    .flexcroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    /* Handle */
    .flexcroll::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgb(255, 196, 74);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
</style>

{% with vars.workspaces|get_item:request.COOKIES.workspace as settings %}
    {% with request.COOKIES.workspace as workspace %}
        <body>



        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
            <div class="navbar-header">
                <a class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="navbar-brand" href="{% url 'global_settings' %}">
                    <span style="float:left;">DevOps: IWA</span>
                    <img style="margin-left:5px; height: 20px; float: left" src="{% static 'img/settings.png' %}" alt="">
                </a>

            </div>
            <div class="container">
                <div id="slidemenu">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'artifacts' %}">Artifacts</a></li>
                        <li><a href="{% url 'list_of_submodules' %}">GIT</a></li>
                        {% if settings.tasks|length > 0 %}
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Scripts<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="divider"></li>
                                    <li class="dropdown-header">Available scripts for <b style="color: orangered">{{ workspace }}</b> workspace</li>
                                    {% for script in settings.scripts %}
                                        {% if '__' in script %}
                                            <li><a onclick="run_process('program_output', '{{ script }}')" style="color: #b4b6b8"><del>{{ script }}</del></a></li>
                                        {% else %}
                                            <li><a onclick="run_process('program_output', '{{ script }}')">{% replace script '_' ' ' %}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="divider"></li>
                                </ul>
                            </li>

                            <li><a href="{% url 'tasks' %}">Tasks</a></li>
                        {% endif %}

                        <li><a href=".credits" class="toggle btn btn-primary">CONSOLE</a></li>
                    </ul>
                </div>

                <div id="slidemenu" style="float: right">
                    <ul class="nav navbar-nav">

                        <li><a href="{% url 'settings' %}"><img style="height: 20px" src="{% static 'img/settings.png' %}" alt=""></a></li>
                        <li class="dropdown">
                            <a id="SELECTED-WORKSPACE" style="font-size: 20px; color: orangered;
                            font-weight: 800" href="#" class="dropdown-toggle" data-toggle="dropdown">

                                <span>{{ request.COOKIES.workspace }}</span>
                                <b class="caret"></b>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="divider"></li>
                                <!--li class="dropdown-header">Select workspace</li-->
                                {% for workspace in vars.workspaces %}
                                    <li><a class="AVAILABLE-WORKSPACE">{{ workspace }}</a></li>
                                {% endfor %}
                                <li class="divider"></li>
                            </ul>
                        </li>

                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.name }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="divider"></li>
                                <!--li class="dropdown-header">Select workspace</li-->
                                <li><a onclick="logout()">Logout</a></li>
                                <li class="divider"></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endwith %}
{% endwith %}
