<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta name="robots" content="noindex">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width">

    <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/toastr.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/toastr.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/bootstrap-select.min.css" %}">
    <!--link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"-->
    

    <meta charset=utf-8 />
    <title>DevOps: IWA</title>

    <style>
        .text-editor-wrap {
            display: block;
            margin: auto;
            width: 90vw;
            max-width: 90vw;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
            clear: both;
            overflow: hidden;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            -ms-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
            background-color: black;
        }

        .text-body {
            height: calc(95vh - 100px);
            max-height: calc(95vh - 100px);
            color: #f0f0f0;
            line-height: 1.40em;
            font-weight: 500;
            text-align: left;
            overflow: auto;
            margin-left: 20px;
        }

        .title-bar {
            padding: 5px 0;
            font-family: "Lucida Grande", sans-serif;
            font-size: 0.75em;
            text-align: center;
            text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
            background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
            background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
            background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
        }

        .my-container {
            margin-top: 53px;
            overflow: hidden;
            height: calc(100vh - 53px);
        }
    </style>
</head>

<body>

{% include "header.html" %}

<style>

    .text-editor-wrap {
        display: block;
        margin: auto;
        width: 90vw;
        max-width: 90vw;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
        clear: both;
        overflow: hidden;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        background-color: black;
    }

    .text-body {
        height: calc(95vh - 100px);
        max-height: calc(95vh - 100px);
        color: #f0f0f0;
        line-height: 1.40em;
        font-weight: 500;
        text-align: left;
        overflow: auto;
        margin-left: 20px;
    }

    .title-bar {
        padding: 5px 0;
        font-family: "Lucida Grande", sans-serif;
        font-size: 0.75em;
        text-align: center;
        text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
        background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
        background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
        background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
    }

</style>


<div class="start">
    <script src="{% static 'js/gyerts.js' %}"></script>
    <div class="header hidden credits">
        <div class="head-wrap shift-text">
            <div class="text-editor-wrap">
                <div class="title-bar">
                    <span class="title" id="output_topic">Console, please run script to see output</span>
                </div>
                <div class="text-body" id="working_space">
                    <span id="program_output"></span>
                </div>
            </div>
        </div>
    </div>



    <div class="my-container show credits" id="page-content">
        <div class="animated fadeInDown">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>



<script src="{% static 'js/end_of_page.js' %}"></script>
<script>
    $(function () {
        $('.toggle').click(function (event) {
            event.preventDefault();
            var target = $(this).attr('href');
            $(target).toggleClass('hidden show');
        });
    });
</script>






{% include "footer.html" %}

</body>
</html>
