{% extends "head.html" %}
{% load staticfiles %}


{% block content %}
    <style>
        .btn {
            width: calc(100% + 10px);
            margin-left: -5px;
        }
        td {
            padding-left: 5px;
            padding-right: 5px;
        }
    </style>
    <h1>IWA Settings v.2.0</h1>

    <table border="1" style="width: 100%" id="myTable">
        <thead>
        <tr>
            <th></th>
            <th>key</th>
            <th>value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><button type="button" class="btn btn-success add">add</button></td>
            <td id="new_key" contenteditable="true" style="color: #843534"></td>
            <td id="new_value" contenteditable="true"></td>
        </tr>

        <tr><td colspan="3" align="center" style="background-color: #269abc"><b>{{ name }} SETTINGS</b></td></tr>

        {% for key, value in settings.settings.items %}
            <tr id="{{ key }}">
                <td><button key="{{ key }}" type="button" class="btn btn-danger delete">delete</button></td>
                <td class="source key">{{ key }}</td>
                <td class="source value">{{ value }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <script>
        var $add=$('.add');
        var $source=$('.source');
        var $delete=$('.delete');

        function parse_and_do(element){
            var action = element.attr('action');
            var text = element.text();
            var key = element.attr('key');

            todo(action, text, key);
        }

        function todo(action, text, key){

            var XHR = new XMLHttpRequest();
            var data = new FormData();
            data.append('action', action); /* change_key, change_value */
            data.append('text', text);             /* updated text*/
            data.append('key', key);       /* always key*/
            data.append('workspace', getCookie('workspace'));       /* always key*/

            XHR.addEventListener('load', function (event) {
                toastr["success"]('Successfully changed and saved on the server!');
            });
            XHR.addEventListener('error', function (event) {
                toastr["error"]('Error!');
            });

            XHR.open('POST', '{{ url_path }}');
            XHR.send(data);
        }

        function add(){
            $add.on('click', function () {
                var new_key = $('#new_key');
                var new_value = $('#new_value');

                $("#myTable > tbody").append(
                    '<tr id="' + new_key.text() + '">' +
                    '<td><button type="button" class="btn btn-danger" onclick="del(\'' + new_key.text() + '\')">delete</button></td>' +
                    '<td key="' + new_key.text() + '" action="change_key" class="source key" contenteditable="true">' + new_key.text() + '</td>' +
                    '<td key="' + new_key.text() + '" action="change_value" class="source value" contenteditable="true">' + new_value.text() + '</td>' +
                    '</tr>'
                );

                todo('add', new_value.text(), new_key.text());

                new_key.text('');
                new_value.text('');
                $add=$('.add');
            });
        }

        function source(){
            $source.on('blur', function () {
                parse_and_do($(this))
            });
        }

        function del_event(){
            $delete.on('click', function () {
                var element = $(this);
                var key = element.attr('key');
                del(key);
            });
            $delete=$('.delete');
        }

        function del(key){
            todo('delete', '', key);
            element =  $('#' + key);
            element.remove();
        }


        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        add();
        source();
        del_event();
    </script>
{% endblock %}