{% extends "head.html" %}
{% load staticfiles %}

{% block content %}
    <h1>IWA Tasks</h1>
    <table border="1" id="myTable">
        <thead>
        <tr>
            <th>on/off</th>
            <th>name of script file</th>
            <th>status</th>
            <th>time pattern</th>
            <th>description</th>
            <th>edit</th>
        </tr>
        </thead>
        <tbody>
        {% for ws_name, ws in vars.workspaces.items %}
            {% if ws_name == request.COOKIES.workspace %}
                {% for key, value in ws.tasks.items %}
                    <tr id="{{ key }}">
                        {% if value.status == 'Disabled' %}
                            <td><button key="{{ key }}" type="button" class="btn btn-default enable">Enable</button></td>
                        {% else %}
                            <td><button key="{{ key }}" type="button" class="btn btn-default disable">Disable</button></td>
                        {% endif %}
                        <td class="source key">{{ key }}</td>
                        <td id="{{ key }}status" class="{{ value.status }}">{{ value.status }}</td>
                        <td key="{{ key }}" class="time_pattern" contenteditable="true">{{ value.time_pattern }}</td>
                        <td class="source key">{{ value.description }}</td>
                        <td><a href="edit_python_file/{{ key }}">view</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <script>
        var $enable=$('.enable');
        var $disable=$('.disable');
        var $edit=$('.edit');
        var $time_pattern=$('.time_pattern');


        $enable.on('click', change_status);
        $disable.on('click', change_status);

        function change_status() {
            var element = $(this);
            var status = element.text();
            var key = element.attr('key');


            var XHR = new XMLHttpRequest();
            var data = new FormData();
            data.append('status', status); /* change_key, change_value */
            data.append('key', key);       /* always key*/

            XHR.addEventListener('load', function (event) {
                toastr["success"](XHR.responseText);

                var done = true;

                var st = $('#' + key + 'status');
                if(st.text() == 'Enabled'){
                    element.text('Enable');
                    st.text('Disabled');

                    element.removeClass('disable');
                    element.addClass('enable');

                    st.removeClass('Enabled');
                    st.addClass('Disabled');
                }
                else{
                    element.text('Disable');
                    st.text('Enabled');

                    element.removeClass('disable');
                    element.addClass('enable');

                    st.removeClass('Disabled');
                    st.addClass('Enabled');
                }



                st.addClass('btn-danger')
            });
            XHR.addEventListener('error', function (event) {
                toastr["error"]('Error!');
            });

            XHR.open('POST', 'change_status_of_task');
            XHR.send(data);
        }

        $time_pattern.on('blur', function(){
            var element = $(this);
            var status = element.text();
            var key = element.attr('key');

            var XHR = new XMLHttpRequest();
            var data = new FormData();
            data.append('time_pattern', status); /* change_key, change_value */
            data.append('key', key);       /* always key*/

            XHR.addEventListener('load', function (event) {
                toastr["success"](XHR.responseText);
            });
            XHR.addEventListener('error', function (event) {
                toastr["error"]('Error!');
            });

            XHR.open('POST', 'change_time_pattern');
            XHR.send(data);
        });

        $edit.on('click', function(){
            var element = $(this);
            var key = element.attr('key');


            var XHR = new XMLHttpRequest();
            var data = new FormData();
            data.append('key', key);       /* always key*/

            XHR.addEventListener('load', function (event) {
                //modaltext = document.getElementById('modaltext');
                //modaltext.innerText = XHR.responseText;

            });
            XHR.addEventListener('error', function (event) {
                toastr["error"]('Error!');
            });

            XHR.open('POST', 'get_text_of_task');
            XHR.send(data);
        });



        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>

    <style>
        td{
            padding: 2px;
            text-align: center;
        }
        th{
            background-color: #0e9aef;
            text-align: center;
        }
        button{
            width: 100%;
        }
        table{
            background-color: whitesmoke;
            color: #080808;
            width: 100%;
        }
        h1{
            color: #080808;
        }

        .Enabled{
            color: black;
            background-color: greenyellow;
        }
        .Disabled{
            color: black;
            background-color: orangered;
        }
        #modaltext{
            font-family: Consolas, monaco, monospace;
            font-size: 16px;
            font-style: normal;
            font-variant: normal;
            font-weight: 500;
            line-height: 26.4px;
        }
    </style>

{% endblock %}
