<!DOCTYPE html>

{% load staticfiles %}

<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style_inspinia.css' %}" rel="stylesheet">

</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <h1 class="logo-name">IWA</h1>
    </div>
    <h3>Welcome to IWA</h3>
    <p>To have an account you have to contact Yuriy Gyerts (ygyerts@luxoft.com)</p>
    <p>Please login in.</p>
    <form class="m-t" role="form" method="post" action="{% url 'register' %}">
        <div class="form-group">
            <input name="email" type="email" class="form-control" placeholder="Email" required="">
        </div>
        <div class="form-group">
            <input name="password" type="password" class="form-control" placeholder="Password" required="">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

        <!--a href="#"><small>Forgot password?</small></a-->
        <!--p class="text-muted text-center"><small>Do not have an account?</small></p-->
        <!--a class="btn btn-sm btn-white btn-block" href="{% url 'register' %}">Create an account</a-->
    </form>
    <p class="m-t"><small>IWA &copy; 2016</small> </p>
</div>

<!-- Mainly scripts -->
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
