{% include 'header.html' %}

<style>
    .content{
        margin-top: 20px;
        color: #080808;
    }
    input{
        float: left;
    }
    table{
        width: 100%;
    }
    td, th, td{
        text-align: center;
    }
</style>

<div id="content" class="content container">

    {% if CPM != none %}
        <h1>CPM INTERFACES</h1>
        <div class="panel-group" id="collapse-group">
            {% for interface in CPM %}
                <div class="panel panel-default">
                    {% if interface.errors %}
                        <div class="panel-heading" style="background-color: rgb(255, 145, 145)!important;">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#collapse-group" href="#{{ interface.name }}"><span class="label label-danger">{{ interface.version }}</span> {{ interface.path|cut:to_cut }}</a>
                            </h4>
                        </div>
                    {% elif not interface.list_HBCM %}
                        <div class="panel-heading" style="background-color: yellow!important;">
                            <h4 class="panel-title">
                                <span class="label label-success">{{ interface.version }}</span> <span class="label label-default">no one use it</span> {{ interface.path|cut:to_cut }}
                            </h4>
                        </div>
                    {% else %}
                        <div class="panel-heading" style="background-color: rgb(159, 255, 145)!important;">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#collapse-group" href="#{{ interface.name }}"><span class="label label-success">{{ interface.version }}</span> {{ interface.path|cut:to_cut }}</a>
                            </h4>
                        </div>
                    {% endif %}

                    <div id="{{ interface.name }}" class="panel-collapse collapse">
                        {% for manifest in interface.list_HBCM %}
                            {% if interface.version == manifest.version %}
                                <div class="panel-body"><span class="label label-success">{{ manifest.version }}</span> {{ manifest.path|cut:to_cut }}</div>
                            {% else %}
                                <div class="panel-body"><span class="label label-danger">{{ manifest.version }}</span> {{ manifest.path|cut:to_cut }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>CPM INTERFACES: <span style="color: greenyellow">no diffs</span></h1>
    {% endif %}




    {% if NAVI != none %}
        <h1>NAVI INTERFACES</h1>
        <div class="panel-group" id="collapse-group">
            {% for interface in NAVI %}
                <div class="panel panel-default">
                    {% if interface.errors %}
                        <div class="panel-heading" style="background-color: rgb(255, 145, 145)!important;">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#collapse-group" href="#{{ interface.name }}"><span class="label label-danger">{{ interface.version }}</span> {{ interface.path|cut:to_cut }}</a>
                            </h4>
                        </div>
                    {% elif not interface.list_HBCM %}
                        <div class="panel-heading" style="background-color: yellow!important;">
                            <h4 class="panel-title">
                                <span class="label label-success">{{ interface.version }}</span> <span class="label label-default">no one use it</span> {{ interface.path|cut:to_cut }}
                            </h4>
                        </div>
                    {% else %}
                        <div class="panel-heading" style="background-color: rgb(159, 255, 145)!important;">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#collapse-group" href="#{{ interface.name }}"><span class="label label-success">{{ interface.version }}</span> {{ interface.path|cut:to_cut }}</a>
                            </h4>
                        </div>
                    {% endif %}

                    <div id="{{ interface.name }}" class="panel-collapse collapse">
                        {% for manifest in interface.list_HBCM %}
                            {% if interface.version == manifest.version %}
                                <div class="panel-body"><span class="label label-success">{{ manifest.version }}</span> {{ manifest.path|cut:to_cut }}</div>
                            {% else %}
                                <div class="panel-body"><span class="label label-danger">{{ manifest.version }}</span> {{ manifest.path|cut:to_cut }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>NAVI INTERFACES: <span style="color: greenyellow">no diffs</span></h1>
    {% endif %}





    {% if HMI != none %}
        <h1>HMI INTERFACES</h1>
        <div class="panel-group" id="collapse-group">
            {% for pair in HMI %}
                {% with pair.hbsi_of_hmi as hmi %}
                    {% with pair.hbsi_of_workspace as ws %}
                        <div class="panel panel-default">
                            {% if ws == none %}
                                <div class="panel-heading" style="background-color: yellow!important;">
                                    <h4 class="panel-title">
                                        <span class="label label-success">{{ hmi.version }}</span> <span class="label label-default">no one use it</span> {{ hmi.path|cut:to_cut }}
                                    </h4>
                                </div>
                            {% elif hmi.version != ws.version %}
                                <div class="panel-heading" style="background-color: rgb(255, 145, 145)!important;">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#collapse-group" href="#{{ hmi.name }}{{ hmi.name }}"><span class="label label-danger">{{ hmi.version }}</span> {{ hmi.path|cut:to_cut }}</a>
                                    </h4>
                                </div>
                                <div id="{{ hmi.name }}{{ hmi.name }}" class="panel-collapse collapse">
                                    <div class="panel-body"><span class="label label-danger">{{ ws.version }}</span> {{ ws.path|cut:to_cut }}</div>
                                </div>
                            {% else %}
                                <div class="panel-heading" style="background-color: rgb(159, 255, 145)!important;">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#collapse-group" href="#{{ hmi.name }}{{ hmi.name }}"><span class="label label-success">{{ hmi.version }}</span> {{ hmi.path|cut:to_cut }}</a>
                                    </h4>
                                </div>
                                <div id="{{ hmi.name }}{{ hmi.name }}" class="panel-collapse collapse">
                                    <div class="panel-body"><span class="label label-success">{{ ws.version }}</span> {{ ws.path|cut:to_cut }}</div>
                                </div>
                            {% endif %}
                        </div>
                    {% endwith %}
                {% endwith %}
            {% endfor %}
        </div>
    {% else %}
        <h1>HMI INTERFACES: <span style="color: greenyellow">no diffs</span></h1>
    {% endif %}


</div>


{% include 'footer.html' %}
