 <!--h1>NAVI INTERFACES</h1>
    <table border="1">
        {% for interface in NAVI %}
            {% for manifest in interface.list_HBCM %}
                <tr>
                    {% if forloop.first %}
                        <td rowspan="{{ interface.list_HBCM|length }}">{{ interface.name }}</td>
                        <td rowspan="{{ interface.list_HBCM|length }}">{{ interface.version }}</td>
                    {% endif %}

                    {% if manifest.version != interface.version %}
                        <td style="background-color: red">WARNING: {{ manifest.version }}</td>
                    {% else %}
                        <td>{{ manifest.version }}</td>
                    {% endif %}
                    <td>{{ manifest.name }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table-->