{% load staticfiles %}
{% include 'header.html' %}

<style>
    .find{
        margin-top: 20px;
        color: #080808;
    }
    .form-control{
        width: 50vh!important;
    }
    .content{
        color: #080808;
    }
    input{
        float: left;
    }
    table{
        width: 100%;
        background-color: gainsboro!important;
    }
    td, th{
        text-align: center;
    }
</style>


<script>
    function send_information(){
        var XHR = new XMLHttpRequest();

        var data = new FormData();
        var api_to_check = $('#api_to_check');
        data.append('api_to_check', api_to_check.val());

        XHR.addEventListener('load', function (event) {
            $('#content').html(XHR.responseText)
        });
        XHR.addEventListener('error', function (event) {

        });
        XHR.onreadystatechange = function () {

        };
        XHR.open('POST', 'find');
        XHR.send(data);
    }

</script>


<div class="find container">
    <div class="form-group">
        <input id="api_to_check" type="text" class="form-control" placeholder="INTERFACE">
        <button onclick="send_information()" class="btn btn-default">Find interface usage</button>
    </div>
</div>

<div id="content" class="content">

</div>


{% include 'footer.html' %}
